.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 100vh;
}

.Login h1 {
    font-size: 55px;
    margin-bottom: 18px;
    color: antiquewhite;
    font-size: 50px;
    padding: 10px;
    text-align: center;
}

.signup-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 12px;
    padding-left: 80px;
    background-color: transparent;
    border-radius: 8px;
    font-size: 30px;
    color: antiquewhite;
}

.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 17px;
    margin-bottom: 19px;
    padding-left: 40px;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.input-container img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    cursor: pointer;
}

input {
    padding: 15px 20px;
    font-size: 1.2em;
    font-weight: 100;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 10px;
    background-color: rgb(194, 238, 248);
}

img.username {
    width: 51px;
    height: 51px;
}

img.password {
    width: 51px;
    height: 51px;
}

img.signup-icon {
    height: 90px;
    width: auto;
    margin-top: 5px;
    cursor: pointer;
    padding-left: 30px;
}