.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 100vh;
    padding-left: 15px;
    padding-top: 15px;
    font-size: 20px;
    
}

.Login h1 {
    font-size: 7px;
    margin-bottom: 18px;
    margin-top: 20px;
    color: antiquewhite;
    font-size: 52px;
    padding: 10px;
    text-align: center;
}

.signup-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 90px;
    padding-left: 80px;
    background-color: transparent;
    border-radius: 8px;
    font-size: 32px;
    color: antiquewhite;
}

button {
    background-color: #458ad3;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 20px 30px;
    font-size: 25px;
    cursor: pointer;
    margin-top: 16px;
    margin-left: 85px;
    width: 265px;
    text-align: center;
}

button:hover {
    background-color: #1e1b4d;
    transition: background-color 0.3s ease;
}

img.username {
    width: 51px;
    height: 51px;
}

img.password {
    width: 51px;
    height: 51px;
}

img.signup-icon {
    height: 95px;
    width: auto;
    margin-top: 30px;
    margin-left: 75px;
    cursor: pointer;
    padding-left: 30px;
}

