.card {
    width: 350px;
    height: auto;
    border-style: none;
    margin: 2px;
    box-sizing: border-box;
    position: relative;
}

.card img {
    width: 85%;
    height: 70%;
    margin-bottom: 3px;
    margin: 2px 2px;
    object-fit: cover;
    border-radius: 15px;
}

.meta-info {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(45, 47, 67);
    padding: 5px 16px;
    width: calc(100%-40px);
    box-sizing: border-box;
}

p {
    display: flex;
    justify-content: space-evenly;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(238, 248, 247);
    margin: 0%;
    padding-left: 17px;
}

.card-fav {
    position: absolute;
    bottom: 22px;
    right: 70px;
    font-size: 30px;
    color: white;
    font-weight: 200;
    border-radius: 50%;
    background-color: rgb(191, 10, 197);
    border: none;
    cursor: pointer;
    z-index: 1000;
    display: flex;
    align-items: center;
    transition: transform 0.2s ease;
}

.card-fav:hover {
    opacity: 0.9;
    transform: scale(1.5);
}