.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: transparent;
    /* Pas aan naar je voorkeur */
}

.header h1 {
    font-size: 50px;
    color: #def4f5;
    text-align: center;
    font-family: fantasy;
    letter-spacing: 2px;
}

header .subtitle {
    font-size: 1.5rem;
    margin: 0;
}

