.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 210px;
    padding: 18px;
    background-color:#19589c;
    color: antiquewhite;
    height: calc(100vh - 50px);
    text-align: center;
    margin: 137px 15px;
    position: relative;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0 50px 70px rgba(03, 4, 0, 0.2);;
}

.sidebar-main-menu {
    list-style-type: none;
    padding: 20px;  
    margin-top: 47%;
    text-align: left;
}

.sidebar-main-menu li {
    margin: 30px 0;
}

.sidebar-main-menu li a {
    text-decoration: none;
    color: #f4f4f4;
    font-size: 18px;
    display: block;
    padding: 20px 27px;
    border-radius: 8px;
    font-size: 150%;
    font-weight: bold;
    background-color: #2a2a2a;
    box-shadow: 0 20px 8px rgba(03, 4, 0, 0.2);
    transition: backgroun-color 0.35 ease, color 035 ease, text-decoration 0.35 ease;
}

idebar-main-menu li a:hover {
    background-color: #3e3e3e;
    color: #e50914;
}
    