.Sidebar {

    flex-direction: row;
    width: 250px;
    padding: 40px 40px 40px 40px;
    background-color: #1a1a1a;
    color: rgb(151, 22, 22);
    height: 100vh;
    background-color:transparent;
    text-align: center;   
    margin: 0 0 0 20px;
}

.sidebar h2 {
    margin-bottom: 10px; 
    font-size: medium;
}

.sidebar input {
    width: 100%;
    padding: 40px;
    margin-bottom: 40px;
    border: none;
    border-radius: 10px;
}

.decade-filters button {
    display: block;
    width: 100%;
    padding: 40px;
    margin-bottom: 20px;
    background-color: #043168;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    font-size: large;
}

.decade-filters button:hover {
    background-color: #60b5e6;

}
   
