.Footer {
    background-color: #da53bf;
    color: #1b1313;
    text-align: center;
    position: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40%;
    margin: 0;
    padding: 20;
    font-size: 15px;
    box-sizing: border-box;
}
.Footer ul {
    
}