.Footer {
    background-color: #64fcf7;
    color: #de2ec1;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    width: 80%;
    height: auto;
    margin: 0;
    padding: 20px;
    font-size: 15px;
    box-sizing: border-box;
}
.Footer {

}