.search {
    flex-direction:column;
    padding-right: 5%;
    text-align: center;
    padding-left: 15%   
    
}

.search input {
    padding: 10px;
    width: 75%;
    margin: 0;
    border: 3px solid #ccc;
    border-radius: 20px;
    background-color:antiquewhite;
    color: rgba(255, 255 0.5);
    font-size: 20px;
    color: #666;
    font-weight: bold;
    transition: border-color 0.35 ease;
}

.search button {
    padding: 8px;
    flex-direction: row;
    background-color: #687f98;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 25px;
    transition: background-color 0.3s ease;
   
}

.search button:hover {
    background-color: #dde1e6;
}

.movie-results {
    margin-top: 15px;
}

.movie-results ul {
    list-style: none;
    padding: 0;
}

.movie-results li {
    margin-bottom: 10px;
}

.movie-results li h3 {
    font-size: 18px;
    margin: 0;
    color: #333;
}

.movie-results li p {
    font-size: 14px;
    color: #666;
    margin: 5px 0 0;
}