.search {
    display: flex;
    justify-content: center;
    padding-right: 5%;
    width: 100% 
}

.search input {
    width: 900px;
    max-width: 1200px;
    display: inline-block;
    border: 3px solid #ccc;
    border-radius: 15px;
    background-color: antiquewhite;
    font-size: 35px;
    color: #666;
    font-weight: bold;
    transition: border-color 0.35 ease;
    padding: 10px;
}
.search button {
    width: 120px;
    height: 65px;
    padding: 5px;
    background-color: #687f98;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: 15px;
   transition: background-color 0.3s ease;
}
.search button:hover {
    background-color: #dde1e6;
}

.genre-dropdown select {
    height: 70px;
   margin: 10px;
   margin-left: 70px;
    border: 3px solid #ccc;
    border-radius: 15px;
    background-color: antiquewhite;
    font-size: 30px;
    color: #666;
    font-weight: bold;
    padding: 15px 15px;
    cursor: pointer;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.movie-results {
    margin-top: 15px;
}

.movie-results ul {
    list-style: none;
    padding: 0;
}

.movie-results li {
    margin-bottom: 10px;
}

.movie-results li h3 {
    font-size: 18px;
    margin: 0;
    color: #333;
}

.movie-results li p {
    font-size: 14px;
    color: #666;
    margin: 5px 0 0;
}