.Signup {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-size: cover;        
    }
    .signup-h1 {
        text-align: center;
        color:aliceblue;
        margin-bottom: 60px;
        font-size: 40px;        
    }
    .input-container {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }
    input {
        padding: 10px;
        font-size: 25px;
        font-weight: lighter;
        width: 250px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    .signup-button {
        padding: 17px 30px;
        font-size: 25px;
        font-weight: bold;
        color: white;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin: 20px;
    }
    .signup-button:hover {
        background-color: #0056b3;
    }
