
body {
  font-family: Arial, sans-serif;
  height: 100vh;
  margin: 0;
}

.container-column {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(to bottom, #022141, #2d5dab);
  background-size: cover;
  background-position: center;
  
  
}


.container-row {
  display: flex;
  flex-direction:row;
  flex-grow: 1;
}

.body-area {
  display: flex;
  background-color:none;
  text-align: center;
  flex-grow: 1;
}





